matplotlib~=3.3.4
numpy~=1.20.1
opencv-python~=4.5.1.48
paho-mqtt~=1.5.1
Pillow
serial~=0.0.97
pyserial~=3.5
PyYAML
requests~=2.25.1
tqdm~=4.57.0
tsp_solver
playsound
Scikit-Fuzzy~=0.4.2
pigpio~=1.78
pygame~=2.0.1
dronekit~=2.9.2
pymavlink~=2.4.14
scipy~=1.6.1